.page-header
  h1 Details of font

div(about=path_to.admin_font(font))
  .field(property='title')= font.title
  .field(property='description')= font.description

.actions
  != link_to('Edit', path_to.edit_admin_font(font), {class: 'btn primary'}) + ' '
  != link_to('Delete', path_to.admin_font(font), {class: 'btn danger', method: 'delete', remote: true, jsonp: '(function (u) { location.href = u; })'})
  span= ' or '
  != link_to('Back to index', path_to.admin_fonts)
