fontweight = normal
fontstyle = normal

@font-face 
  font-family 'ColaborateThinRegular'
  src url(/fonts/colaborate/ColabThi-webfont.eot)
  src url(/fonts/colaborate/ColabThi-webfont.eot?#iefix) format(embedded-opentype), url(/fonts/colaborate/ColabThi-webfont.woff) format(woff), url(/fonts/colaborate/ColabThi-webfont.ttf) format(truetype), url(/fonts/colaborate/ColabThi-webfont.svg#ColaborateThinRegular) format(svg)
  font-weight fontweight
  font-style fontstyle


@font-face 
  font-family 'ColaborateLightRegular'
  src url(/fonts/colaborate/ColabLig-webfont.eot)
  src url(/fonts/colaborate/ColabLig-webfont.eot?#iefix) format(embedded-opentype), url(/fonts/colaborate/ColabLig-webfont.woff) format(woff), url(/fonts/colaborate/ColabLig-webfont.ttf) format(truetype), url(/fonts/colaborate/ColabLig-webfont.svg#ColaborateLightRegular) format(svg)
  font-weight fontweight
  font-style fontstyle

@font-face
  font-family 'ColaborateRegular'
  src url(/fonts/colaborate/ColabReg-webfont.eot)
  src url(/fonts/colaborate/ColabReg-webfont.eot?#iefix) format(embedded-opentype), url(/fonts/colaborate/ColabReg-webfont.woff) format(woff), url(/fonts/colaborate/ColabReg-webfont.ttf) format(truetype), url(/fonts/colaborate/ColabReg-webfont.svg#ColaborateRegular) format(svg)
  font-weight fontweight
  font-style fontstyle


@font-face
  font-family 'ColaborateMediumRegular'
  src url(/fonts/colaborate/ColabMed-webfont.eot)
  src url(/fonts/colaborate/ColabMed-webfont.eot?#iefix) format(embedded-opentype), url(/fonts/colaborate/ColabMed-webfont.woff) format(woff), url(/fonts/colaborate/ColabMed-webfont.ttf) format(truetype), url(/fonts/colaborate/ColabMed-webfont.svg#ColaborateMediumRegular) format(svg)
  font-weight fontweight
  font-style fontstyle


@font-face
  font-family 'ColaborateBoldRegular'
  src url(/fonts/colaborate/ColabBol-webfont.eot)
  src url(/fonts/colaborate/ColabBol-webfont.eot?#iefix) format(embedded-opentype), url(/fonts/colaborate/ColabBol-webfont.woff) format(woff), url(/fonts/colaborate/ColabBol-webfont.ttf) format(truetype), url(/fonts/colaborate/ColabBol-webfont.svg#ColaborateBoldRegular) format(svg)
  font-weight fontweight
  font-style fontstyle


@font-face 
  font-family 'SansitaOneRegular'
  src url(/fonts/sansita/SansitaOne-webfont.eot)
  src url(/fonts/sansita/SansitaOne-webfont.eot?#iefix) format(embedded-opentype), url(/fonts/sansita/SansitaOne-webfont.woff) format(woff), url(/fonts/sansita/SansitaOne-webfont.ttf) format(truetype), url(/fonts/sansita/SansitaOne-webfont.svg#SansitaOneRegular) format(svg)
  font-weight: fontweight
  font-style: fontstyle


